body{
  background: #2C2B3D;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
}

.page{
  width: 1280px;
  margin: 70px auto 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

main{
  display: flex;
  margin: 0 auto 150px;
  flex-direction: row-reverse;
  gap: 75px;
}

ul{
  display: flex;
  list-style: none;
  gap: 64px;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

ul li a{
  text-decoration: none;
  color: #FFFFFF;
}

/*ul li a:hover{
  font-weight: bold;
}*/

h1{
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  width: 700px;
  justify-content: center;
  margin-bottom: 60px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #C2C2C2;
  width: 600px;
}

span{
  font-weight: bold;
  color: #00BFA6;
}

footer{
  display: flex;
  font-size: 14px;
  line-height: 28px;
  flex-direction: column;
  align-items: center;
}

#line{
  justify-content: center;
  width: 568px;
  height: 0px;
  left: 356px;
  top: 642px;
  border: 1px solid #00BFA6;
}

#lock{
  width: 51px;
  height: 62px;
  position: absolute;
  left: 20px;
  top: 638px;
  bottom: 20px;
}